<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Api Crud Generator test-suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                ./src/ApiCrudGeneratorServiceProvider.php
            </exclude>
            <exclude>
                ./src/Commands/ApiCrudGenerator.php
            </exclude>
        </whitelist>
    </filter>
</phpunit>