<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Api Crud Generator test-suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <group>src/ApiCrudGeneratorServiceProvider.php</group>
            </exclude>
            <exclude>
                <group>src/Commands/ApiCrudGenerator.php</group>
            </exclude>
        </whitelist>
    </filter>
</phpunit>